<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h2>Welcome to Apple Inc Chatbot</h2>
    <button onclick="agentAI">Apple Inc Chatbot" </button>
    <script>
    function openGoogle(){
               window.open("https://cd92eaea1597286f1f.gradio.live/", "_blank");
    }
    </script>
    <form action="/main" method="post">
        <input type = "submit" value="Main">
    </form>
    </div>
</body>




